Hi There,

A new React Decal assignment has been posted. <%=@assignment.title%> is due on <%=@assignment.due_date.strftime("%m/%d")%>. Check it out
at https://portal.reactdecal.org/semesters/1/assignments on the course portal!</a>

Have a great day!

Best,
React Decal Staff
