<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New React Decal Assignment</h1>
    <p>
      <%= @assignment.title%> has been posted. It's due on <%=@assignment.due_date.strftime("%m/%d")%>. Check it out
      on <a href="https://portal.reactdecal.org/semesters/1/assignments">the course portal!</a>
    </p>
    <br/>
    <p>Have a great day!</p>
    <br/>
    <p>Best,</p>
    <p>React Decal Staff</p>
  </body>
</html>