<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <style>
      body { 
        font-family: Lato;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
    </style>
    <img src="https://i.imgur.com/Vu3GS3Z.png" />
    <h1>New React Decal Assignment</h1>
    <p>
      The <%= @assignment.title%> assignment has been posted. It's due on <%=@assignment.due_date.strftime("%m/%d")%>. Check it out
      on <a href="https://portal.reactdecal.org/semesters/1/assignments">the course portal!</a>
    </p>
    <p>Have a great day!</p>
    <p>Best,<br/>
    React Decal Staff</p>
  </body>
</html>